
a {
    text-decoration: none;
    color: black;
}

.ProductDisplay {
    margin: 5vw 5vw;
}

.ProductDisplay.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-wrapper {
    
}