.FilterInput {
    display: flex;
    justify-content: start;
    margin-left: 5vw;
    padding-top: 3vw;
}

.FilterInput input {
    border: 1px solid #e4e4e4;
    font-size: 16px;
    height: 40px;
    padding: 0 20px;
    border-radius: 8px 0 0 8px;
}

.FilterInput i {
    height: 40px;
    width: 40px;
    background: green;
    color: #fff;
    fill: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}