.CheckoutBar {
    height: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #d49c6b;
    transition: width 0.2s cubic-bezier(0.23, 1, 0.320, 1);
    /* opacity: 0; */
}

.CheckoutBar.closed {
    width: 60px;
}

.CheckoutBar.open {
    width: 575px;
}