.CheckoutBar {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #d49c6b;
    transition: all 0.2s cubic-bezier(0.23, 1, 0.320, 1);
}

.CheckoutBar.closed {
    width: 60px;
}

.CheckoutBar.open {
    width: 420px;
}

.arrow-button i {
    transition: all 0.2s cubic-bezier(0.23, 1, 0.320, 1);
}

.arrow-button.open i {
    transform: rotate(180deg);
    margin-bottom: 50px;
}

.arrow-button:hover {
    cursor: pointer;
}

.shoppingCart.open {
    
}

.item-area {
    padding-left: 5vw;
}

.cartTitle {
    font-size: large;
}

.shoppingCart.closed {
    display: none;
}

.shoppingCart .cartTitle {
    margin-bottom: 30px;
}

.item {
    display: block;
    margin-bottom: 7px;
    text-align: start;
}