.Navbar {
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16vw;
    /* background-color: rgb(44, 64, 71); */
    background-color: lightcoral;
}